.chessboard{
    width: 600px;
    height: 600px;
    margin: 15px auto;
    border: 15px solid black;
}

.black{
    float: left;
    width: 75px;
    height: 75px;
    background-color:grey;
    font-size: 50px;
    text-align: center;
    }

.white{
    float: left;
    width: 75px;
    height: 75px;
    background-color:white;
    font-size: 50px;
    text-align: center;
    }


















